# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
*.env

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
/staticfiles/
media/

# IDEs / editors
.vscode/
.idea/
*.swp
